#introduccion {
    grid-column: 3 / 9;
    grid-row: 1;
}

#introduccion p {
    width: 60%;
    margin: 1vw 10vw;
}

#contenido {
    grid-column: 3 / 9;
    grid-row: 2;
}

#contenido ul li {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

article {
    height: 20%;
}

#calendario {
    grid-column: 3 / 9;
    grid-row: 3 ;
}

table {
    border-style: solid;
    border-collapse: collapse;
    width: 24vw;
    margin: 10px auto;
    border-width: 1px;
    background-color: antiquewhite;
}

td,th {
    border-style: dotted;
    border-width: 1px;
    padding: 8px;
    width: 50px;
}

article img {
    width: 12vw;
    height: 10vw;
    padding: 10px;
}

article img:hover {
    transform: scale(1.1);
    
}

#primeraImg {
    width: 48vw;
}

h1 {
    text-align: center;
}

#segundoImg {
    margin-left: 9vw;
}

tr {
    position: relative;
}

td.actividad:hover::after {
    content: "Más detalles en nuestra página Actividades";
    position: absolute;
    top: 50%;
    background-color: #f1f1f1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-style: italic;
    font-size: small;
}
