#introduccion {
    grid-column: 3 / 9;
    grid-row: 1;
}

#introduccion p {
    width: 60%;
    margin: 2vw 10vw 5vw 10vw;
}

#contenido {
    grid-column: 3 / 9;
    grid-row: 2;
}

#contenido ul li {
    display: inline-block;
    width: 30%;
    margin: 10px;
}

article {
    height: 20%;
}

#calendario {
    grid-column: 3 / 9;
    grid-row: 3 ;
}

table {
    border-style: dashed;
    border-collapse: collapse;
}

td {
    border-style: dotted;
    
}