* {
    margin: 0px;
    padding: 0px;

}

#logo {
    width: 100px;
}

body {
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    grid-gap: 20vh;
    grid-auto-rows: minmax(10px, auto);
    text-align: justify;
    
}

header {
    position:fixed;
    width: 100%;
    margin: 2vh auto;
    
}

nav {
    position:fixed;
    width: 70%;
    margin: 5% 10%;
    padding: 5%;
    background-color: antiquewhite;
    text-shadow: 1px 5px 5px gray;
    font-size: larger;
    font-weight: bolder;
    
}

nav ul li {
    display: inline-block;
    width: 15%;
    margin: 5px 1vw;
    text-align: center;
}

ul {
    list-style: none;  
}

a {
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    background-color:aliceblue;
}

a:visited {
    color: goldenrod;
}

main {
    grid-column: 2 / 10;
    grid-row: 2 ;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10vh;
    grid-auto-rows: minmax(10px, auto);
    margin-top: 15%;
}

footer {
    grid-column: 5 /7;
    grid-row: 3 ;
}
