section#entrante {
    grid-column: 3 / 9;
    grid-row: 1;
    text-align: justify;
}

section#formulario {
    grid-column: 4 / 8;
    grid-row: 2;
    box-shadow: 2px 2px 18px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: 10%;
    border-radius: 5px;

}

#datoBasico label {
    display: block;
}

#datoBasico input {
    background-color: #EFEFEF;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-color: #26467e;
    border-width: 1px;

}

label, input {
    margin-bottom: 8px;
}

#boton {
    margin-left: 8vw;
}




